.all-albums-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.cover-image {
  height: 300px;
  width: 300px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/94/U%2B266B_w.svg");
  background-clip: border-box;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px #000000;
}

.album-preview {
  display: flex;
  flex-direction: column;
}

.all-albums-container {
  width: 90%;
  min-width: 550px;
  max-width: 1250px;
  margin: auto;
}

.album-preview-title {
  margin-bottom: 0;
  color: #000000;
}

.album-preview:hover {
  cursor: pointer;
}

.album-container {
  background-color: #ffffff;
  width: 90%;
  min-width: 550px;
  max-width: 1250px;
  margin: auto;
}

.album-header {
  height: 380px;
  background: linear-gradient(
    135deg,
    var(--accent-2) 0%,
    var(--primary-light) 100%
  );
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.album-title-detail {
    line-height: 37px;
    font-size: 24px;
    font-weight: 100;
    padding: 5px 4px;
    box-sizing: border-box;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    margin: 0;
}

.album-artist-detail {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 4px;
}

.album-header-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.album-cover-detail {
    height: 340px;
    width: 340px;
    background-color: var(--secondary);
    padding: 10px;
    margin: 0;
}

.album-cover-detail.icon {
    height: 320px;
    width: 320px;
}