.user-profile-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-page {
    width: 90%;
    min-width: 550px;
    max-width: 1250px;
    margin: auto;
}

.profile-header {
    display: flex;
    flex-direction: row;
}