.playlist-detail-container {
  background-color: var(--secondary-light);
  border-radius: 5px;
  min-width: 650px;
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

.playlist-detail-left {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: 20px 10px 20px 0;
  height: fit-content;
  max-height: 100%;
  background-color: transparent;
  gap: 15px;
}

.playlist-detail-header {
  width: 100%;
  min-width: 650px;
  height: 380px;
  padding: 0px 25px;
  margin: auto;
  background: rgb(41, 67, 78);
  background: linear-gradient(
    270deg,
    rgba(41, 67, 78, 1) 12%,
    rgba(84, 110, 122, 1) 43%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: space-between;
}

.playlist-detail-sub-title {
  width: fit-content;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  font-weight: 100;
  padding: 5px;
}

.playlist-detail-title {
  line-height: 37px;
  font-size: 28px;
  font-weight: 100;
  padding: 5px 0;
  padding-right: 5px;
  box-sizing: border-box;
  width: fit-content;
  margin-top: 10px;
  color: #ffffff;
}

.playlist-detail-thumb-img {
  height: 340px;
  width: 340px;
  background-color: var(--secondary);
  padding: 10px;
  margin: 20px 0;
  object-fit: cover;
}

.playlist-actions {
  border-bottom: 1px solid var(--secondary-dark);
  width: 100%;
  min-width: 650px;
}

.delete-playlist-button,
.edit-playlist-button,
.add-playlist-button {
  padding: 10px 25px;
  margin: 10px 25px;
  background-color: var(--secondary-light);
  border: 1px solid var(--secondary-dark);
  border-radius: 5px;
  font-weight: 500;
}

.edit-playlist-button:hover,
.delete-playlist-button:hover,
.add-playlist-button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.playlist-songs-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 650px;
  padding: 15px;
}

.song-header {
  padding-left: 25px;
}
