#home-header {
    width: fit-content;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-size: 24pt;
    font-weight: 400;
}

.home {
    background-color: #ffffff;
    margin: 0 25px 0 25px;
}