#home-header {
    width: fit-content;
    margin: auto;
    padding: 20px;
    color: #000000;
    font-size: 24pt;
    font-weight: 400;
}

.home {
    background-color: #ffffff;
    margin: 0 25px;
}

.index-songs-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sub-heading {
    margin-left: 15px;
}