.song-playlist-preview {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 1px solid var(--secondary-dark);
    width: 100%;
}

.song-playlist-preview:hover {
    background-color: var(--secondary);
}

.song-playlist-cover {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: auto 0 auto 0;
}

.song-playlist-info {
    line-height: normal;
    margin: auto 0 auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-tracklist {
    height: 50px;
    margin: auto 0 auto auto;
    padding: 0 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    min-width: fit-content;
}

.add-to-tracklist:hover {
 cursor: pointer;
 background-color: var(--secondary-dark);
 border-radius: 5px;
}