/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

:root {
  --accent-2: #546e7a;
  --primary-light: #333;
  --primary-dark: rgba(0, 0, 0, 1);
  --secondary: #efebe9;
  --secondary-light: #ffffff;
  --secondary-dark: #bdb9b7;
  --accent: #31c27c;

  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 0 85px 0;
  min-width: 550px;
  position: relative;
  background-color: var(--secondary);
}

#root {
  position: relative;
}

.queue-content-outer {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.queue-thumb {
  height: 50px;
  width: 50px;
}

.queue-title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.audio-player-container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #000000;
  background-color: #333;
  height: 85px;
}

.music-player-panel.translate {
  height: 85px !important;
}

.music-player-controller {
  bottom: 2.5px;
}

@media screen and (max-width: 767px) {
  .music-player-controller.scale {
    bottom: 12.5px;
  }
}

.audio-lists-panel-header-delete-btn,
.audio-lists-panel-header-line {
  visibility: hidden;
}

.page-not-found.card-background {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-content: center;
  justify-content: center;
  background-color: var(--secondary-light);
  text-align: center;
}

.earl {
  height: 312px;
  width: 400px;
  margin: auto;
  border-radius: 5px;
}

.home-button {
  border: 1px solid var(--secondary-dark);
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  width: fit-content;
  margin: 0 auto 20px auto;
}

.home-button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
