/* TODO Add site wide styles */
* {
    box-sizing: border-box;
}

:root {
    --primary: #546e7a;
    --primary-light: #819ca9;
    --primary-dark: #29434e;
    --secondary: #efebe9;
    --secondary-light: #ffffff;
    --secondary-dark: #bdb9b7;

    font-family: "Roboto", sans-serif;
}

body {
    margin: 0 0 85px 0;
    min-width: 550px;
    position: relative;
    background-color: var(--secondary);
}

#root {
    position: relative;
}

.queue-content-outer {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.queue-thumb {
    height: 50px;
    width: 50px;
}

.queue-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.audio-player-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #000000;
    background-color: #333;
    height: 85px;
}

.music-player-panel.translate {
    height: 85px !important;
}

.music-player-controller {
    height: 75px !important;
    width: 75px !important;
    margin-top: 5px;
}