#new-playlist-form-container {
    display: flex;
    flex-direction: column;
}

.drop-input {
    display: flex;
    flex-direction: column;
}

input:focus {
    background-color: var(--secondary);
}

.playlist-errors-list {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 190px;
}

.playlist-errors-list li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.dropzone {
    background-color: var(--secondary);
    border: 1px solid var(--secondary-dark);
    border-radius: 5px;
    padding: 15px;
}

.upload-cover-text {
    margin: 0 auto;
    width: 25vw;
    min-width: 563.5px;
}

.file-upload-feedback {
    width: 563.5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-playlist-form-submit {
    margin: 20px auto !important;
}