.drop-input {
    display: flex;
    flex-direction: column;
}

.playlist-errors-list {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 190px;
}

.playlist-errors-list li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.dropzone {
    background-color: var(--secondary);
    border: 1px solid var(--secondary-dark);
    border-radius: 5px;
    padding: 15px;
}

.dropzone p {
    font-size: 16px;
}

.file-upload-feedback {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
