header {
  background-color: #333;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100vw;
  min-width: 650px;
  margin: 0;
  padding: 0;
  z-index: 100;
}

#header-content {
  display: grid;
  grid-template-columns: 0.85fr 0.5fr 1fr;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  text-align: center;
}

.user-nav {
  color: white;
  text-decoration: none;
  margin: auto 0;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.user-nav:hover {
  color: var(--accent);
}

a {
  text-decoration: none;
  height: fit-content;
}

#logo {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  min-width: 200px;
}

.site-header {
  font-size: 24pt;
  font-weight: 100;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.nav-header-outer li {
  text-align: center;
  margin: auto 0;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 15px;
}

#login-button {
  color: white;
  font-size: 16px;
  font-weight: 100;
  background-color: transparent;
  border: none;
}

#login-button:hover {
  cursor: pointer;
  color: var(--accent);
}

.nav-button-outer:hover {
  background-color: #000000;
  color: var(--accent);
}

#menu-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 0px 15px;
  font-size: 18pt;
}

#active-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 0px 15px;
  font-size: 18pt;
}

#drop-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  width: 10vw;
  min-width: 200px;
  position: absolute;
  top: 50px;
  right: 5vw;
  border: 1px solid var(--secondary-dark);
}

#logout-button {
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  width: 10vw;
  min-width: 198px;
  height: 52px;
  text-align: left;
  background-color: var(--secondary-light);
  border: none;
  z-index: 2;
}

#logout-button:hover {
  background-color: var(--secondary-dark);
  font-weight: bold;
}

.user-nav-link {
  font-size: 16px;
  width: 100%;
  min-width: 100px;
  padding: 15px 10px;
  text-align: left;
  color: black;
  text-shadow: none;
  height: 52px;
}

.user-nav-link:hover {
  background-color: var(--secondary-dark);
  font-weight: bold;
}

@media (max-width: 1450px) {
  #drop-menu {
    right: 2vw;
  }
 }