header {
  background-color: var(--primary);
  position: sticky;
  top: 0;
  height: 50px;
  width: 100vw;
  min-width: 550px;
  margin: 0;
  padding: 0;

}

#header-content {
  display: grid;
  grid-template-columns: 0.85fr 0.5fr 1fr;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  height: 100%;
  padding: 0 25px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto 0;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

#logo {
  display: flex;
  width: auto;
  height: auto;
  text-align: center;
  overflow: hidden;
}

#logo a:first-child {
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 100;
  max-width: 100%;
  margin: 0 auto 0 10px;
  padding: 0;
}

#home-logo {
  max-width: 100%;
  min-width: 30px;
  height: 50px;
  margin: auto 0;
  padding: 3px 0;
}

li {
  text-align: center;
  margin: auto 0;
  width: 60px;
}

#login-button {
  all: unset;
  color: white;
  font-size: 18px;
  font-weight: 100;
  text-shadow: 1px 1px 2px black;
}

#login-button:hover {
  cursor: pointer;
}

#menu-icon-button {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

#active-menu {
  background-color: var(--primary-dark);
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
}

#menu-icon {
  padding: 5px;
  height: 100%;
  margin: auto 0;
}

#active-menu {
  background-color: var(--primary-dark);
}

#drop-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  position: fixed;
  right: 1.5vw;
}

#logout-button {
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
  width: 20vw;
  min-width: 200px;
  height: 52px;
  text-align: left;
  background-color: var(--secondary-light);
  border: none;
}

#logout-button:hover {
  background-color: var(--secondary-dark);
}

.user-nav-link {
  font-size: 18px;
  width: 20vw;
  min-width: 200px;
  padding: 15px 10px;
  text-align: left;
  color: black;
  text-shadow: none;
  height: 52px;
}

.user-nav-link:hover {
  background-color: var(--secondary-dark);
}
