#modal-content {
    border-radius: 5px;
    min-width: 280px;
}

form {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 3vh;
    text-align: center;
}

#login-fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 30px;
}

.login-input {
    margin: auto;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    width: 25vw;
    min-width: 255px;
   }

.login-modal-button {
    width: 25vw;
    min-width: 255px;
    height: 5vmax;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    text-align: center;
}

input:focus {
    background-color: var(--secondary);
}

.login-errors-list {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 190px;
}

.login-errors-list li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}