form {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 3vh;
    text-align: center;
    padding: 15px;
}

#login-fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 30px;
}

.login-errors-list {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 190px;
}

.login-errors-list li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}