.song-detail {
  background-color: var(--secondary-light);
  border-radius: 5px;
  width: 90%;
  max-width: 1250px;
  margin: auto;
}

.song-detail.left {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: 20px 10px 20px 20px;
  height: fit-content;
  max-height: 100%;
  background-color: transparent;
  gap: 15px;
}

.song-detail-header {
  width: 100%;
  min-width: 550px;
  margin: auto;
  height: 380px;
  background: rgb(41, 67, 78);
  background: linear-gradient(
    270deg,
    rgba(41, 67, 78, 1) 12%,
    rgba(84, 110, 122, 1) 43%,
    rgba(189, 185, 183, 1) 100%
  );
  display: flex;
}

.song-detail-sub-title {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  font-weight: 100;
  padding: 5px;
}

.song-detail-title {
  line-height: 37px;
  font-size: 24px;
  font-weight: 100;
  padding: 5px 0;
  padding-right: 5px;
  box-sizing: border-box;
  width: fit-content;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

.song-detail-thumb-img {
  height: 340px;
  width: 340px;
  background-color: var(--secondary);
  padding: 10px;
  margin: 20px 20px 20px 0;
}

.song-comments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 25px 10px 25px;
}

.song-comment {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-bottom: 1px solid var(--secondary-dark);
  width: 100%;
  margin: 0;
  line-height: 60px;
}

.song-comments {
  min-width: 550px;
}

.comment-actions {
  margin: auto 0px auto auto;
}

.comment-actions button {
  padding: 5px 15px;
  margin-left: 15px;
}

.song-actions {
  margin: 10px 0 0 25px;
  display: flex;
  gap: 20px;
  min-width: 550px;
}

#select-playlist-input {
  display: flex;
  justify-content: space-between;
}

.song-title-preview {
  color: #333;
}
